
<div>
    <form>
            <label for="name"><b>Enter ID</b></label>
            <input type="text" placeholder="Enter your ID" [(ngModel)]="id" name="id" required>
        
            <button type="submit" class="registerbtn" (click)="getById()">Search</button>

    </form>
   
</div>

<div *ngIf = "dataFetched" class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.percentage }}</td>
                </tr>
            </tbody>
        </table>
    </div>
